body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
    background-color: #333333 !important;
    color: #cecece !important;
}

.contenuto{
    text-align:center;
}

.childs{
    margin:auto;
    display:inline-block;
}

.istogramma{
    margin-left: 30px;
    margin-right: 30px;
}

.pos{
    color:green;
}

.neg{
    color:red;
}